$mobile-boundry: 530px;
$primary-color-dark:   #F57C00;
$primary-color:        #FF9800;
$primary-color-light:  #FFE0B2;
$primary-color-text:   #212121;
$accent-color:         #009688;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;
$button-color:         #00BFA3;
$selected-color:       #13B1E7;
$correct-color:        #00BFA3;
$incorrect-color:      #B41A6F;