<!DOCTYPE html>
<html>
<head>
  <title>The big web quiz!</title>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0">
  {{#each css}}
    <link rel="stylesheet" href="{{.}}">
  {{/each}}
  {{#each scripts}}
    <script src="{{.}}" defer></script>
  {{/each}}
</head>
<body>
  {{{content}}}

  {{#if initialState}}
    <script>
      var initialState = {{{initialState}}};
    </script>
  {{/if}}
</body>
</html>